/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2015, 12:51:02 PM
    Author     : Tranny
*/

//background

.templatebackground {
    -fx-background-color: #db4252;
}

.templateackground2 {
    -fx-background-color: #ecf0f1;
}

.panebuttons{
    -fx-background-color: #db4252; 
    -fx-opacity: 0.53;
}

.panebuttons:hover{
    -fx-opacity: 1;
}

.panehomebutton{
    -fx-background-image: url(homeiconeditedv2.png);
    -fx-background-size: 100% 100%;
}

.panehomebutton:hover{
    -fx-background-image: url(homehovericon.png);
    -fx-background-size: 100% 100%;
}

//tableview

.table-view {
    -fx-base: #e1ebf7;
    -fx-control-inner-background: #e1ebf7;
    -fx-background-color: #e1ebf7;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

//label

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 0.6;
}

.label:hover {
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 0.6;
}

.label-bright:hover {
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}


